
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker local overrides ###
/docker-compose.override.yml
###< docker local overrides ###

###> IDE / OS ###
/.idea/
/.vscode/
/.DS_Store
/Thumbs.db
*.swp
*.swo
###< IDE / OS ###

###> node (si ajout futur frontend tooling) ###
/node_modules/
###< node ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
